@{
    ViewData["Title"] = "Turkish Law Blog";
}


<section class="slider">

    <div class="container">
        <div class="row" style="padding: 0 5px">

            <div id="slider" class="owl-carousel">

                <div class='item'>
                    <a href='/article/1/limitations-on-doctors-advertising-in-turkey-an-inconsistent-framework-ripe-for-reform' class='image' style='background-image: url(./img/orcun-cetinkaya.jpg);'></a>
                    <div class='title'>
                        <div class='caption'><a href='/article/1/limitations-on-doctors-advertising-in-turkey-an-inconsistent-framework-ripe-for-reform'>Limitations on Doctors’ Advertising in Turkey: An Inconsistent Fr...</a></div>
                        <div class='tools'>
                            <div class='pull-left'><i class='fa fa-user-circle-o'></i> <a href='/contributor/1/orcun-cetinkaya'>Orçun Çetinkaya</a></div>
                            <div class='pull-left'><i class='fa fa-calendar'></i> 31 Aug, 2017</div>
                            <div class='pull-left'><i class='fa fa-eye'></i>  301</div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>

                <div class='item'>
                    <a href='/article/19/turkey-adopts-data-protection-law-taking-a-big-step-towards-harmonization-with-relevant-elements-of-acquis-communautaire' class='image' style='background-image: url(./img/burcu-tuzcu-ersin.jpg);'></a>
                    <div class='title'>
                        <div class='caption'><a href='/article/19/turkey-adopts-data-protection-law-taking-a-big-step-towards-harmonization-with-relevant-elements-of-acquis-communautaire'>Turkey Adopts Data Protection Law, Taking a Big Step Towards Harm...</a></div>
                        <div class='tools'>
                            <div class='pull-left'><i class='fa fa-user-circle-o'></i> <a href='/contributor/10/burcu-tuzcu-ersin'>Burcu Tuzcu Ersin</a></div>
                            <div class='pull-left'><i class='fa fa-calendar'></i> 05 Jan, 2018</div>
                            <div class='pull-left'><i class='fa fa-eye'></i>  13</div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>

                <div class='item'>
                    <a href='/article/18/russian-sanctions-against-turkey' class='image' style='background-image: url(./img/orcun-cetinkaya.jpg);'></a>
                    <div class='title'>
                        <div class='caption'><a href='/article/18/russian-sanctions-against-turkey'>Russian Sanctions Against Turkey</a></div>
                        <div class='tools'>
                            <div class='pull-left'><i class='fa fa-user-circle-o'></i> <a href='/contributor/1/orcun-cetinkaya'>Orçun Çetinkaya</a></div>
                            <div class='pull-left'><i class='fa fa-calendar'></i> 05 Jan, 2018</div>
                            <div class='pull-left'><i class='fa fa-eye'></i>  20</div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>

                <div class='item'>
                    <a href='/article/20/turkey-completes-final-step-in-approving-data-protection-legislation' class='image' style='background-image: url(./img/burcu-tuzcu-ersin.jpg);'></a>
                    <div class='title'>
                        <div class='caption'><a href='/article/20/turkey-completes-final-step-in-approving-data-protection-legislation'>Turkey Completes Final Step in Approving Data Protection Legislat...</a></div>
                        <div class='tools'>
                            <div class='pull-left'><i class='fa fa-user-circle-o'></i> <a href='/contributor/10/burcu-tuzcu-ersin'>Burcu Tuzcu Ersin</a></div>
                            <div class='pull-left'><i class='fa fa-calendar'></i> 22 Jan, 2018</div>
                            <div class='pull-left'><i class='fa fa-eye'></i>  4</div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>

                <div class='item'>
                    <a href='/article/21/the-role-of-expert-opinions-in-turkish-intellectual-property-law' class='image' style='background-image: url(./img/isik-ozdogan.jpg);'></a>
                    <div class='title'>
                        <div class='caption'><a href='/article/21/the-role-of-expert-opinions-in-turkish-intellectual-property-law'>The Role of Expert Opinions in Turkish Intellectual Property Law</a></div>
                        <div class='tools'>
                            <div class='pull-left'><i class='fa fa-user-circle-o'></i> <a href='/contributor/11/isik-ozdogan'>Işık Özdoğan</a></div>
                            <div class='pull-left'><i class='fa fa-calendar'></i> 22 Jan, 2018</div>
                            <div class='pull-left'><i class='fa fa-eye'></i>  2</div>
                            <div class='clearfix'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <section class="search">
        <div class="container">
            <div class="search-form">
                <form action="/search">
                    <div class="pull-left">
                        <select name="practice" id="practice" style="width: 200px">
                            <option value="">Practice Area</option>
                            <option value='32'>Civil Law</option>
                            <option value='4'>Constitutional Law</option>
                            <option value='1'>UE Law</option>
                        </select>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="pull-left">
                        <select name="contributor" id="contributor" style="width: 200px">
                            <option value="">Contributor</option>
                            <br />
                            <b>Notice</b>:  Undefined index: name in
                            <b>/home/turkishlawblog/public_html/application/view/_templates/search-form.php</b> on line
                            <b>21</b>
                            <br />
                            <option value='1'></option>
                        </select>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="pull-left">
                        <select name="country" id="country" onchange="$.a.load_city( this.value, 'city' );" style="min-width: 170px; width: 170px">
                            <option value="">Country</option>
                            <option value='34'>Burundi</option>
                            <option value='56'>Dominica</option>
                            <option value='67'>Falkland Islands</option>
                            <option value='123'>Madagascar</option>
                            <option value='213'>Turkey</option>
                        </select>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="pull-left">
                        <select name="city" id="city" style="min-width: 170px; width: 170px">
                            <option value="">City</option>
                        </select>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="pull-right">
                        <div class="pull-left"><input type="text" name="q" id="q" placeholder="Keywords..."></div>
                        <div class="pull-right"><button title="Search Now"><i class="fa fa-search"></i></button></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </section>

</section>

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>ABOUT <b>TURKISH LAW BLOG</b></h2>
                <b>Who are We?</b>
                <p>Turkish Law Blog (TAB) is a publication of BO Media providing information and news on Turkish Law. We have gathered together leading experts from law firms and academia to report on the latest developments. They in turn have enlisted professional colleagues of diverse backgrounds to offer both established and new voices into the mix. The result is a fresh, high-quality, and timely examination of Turkish Law.</p>

                <b>What Is Our Focus?</b>
                <p>We are a new kind of media. Our focus is traditional — the significant awards, the latest developments, the upcoming events — but our format is new. The result is a serious, high-quality, professional blog about international arbitration presented in a timely, fresh way.</p>

                <b>What is Your Role?</b>
                <p>Of course we welcome you as a faithful reader, but we also welcome your comments. The blog format provides an opportunity for everyone to participate, but comments must respect our <a href="/content/3/editorial-policy">Editorial Policy</a>. We also will be inviting guest bloggers to contribute from time to time.</p>

            </div>
        </div>
    </div>
</section>

<section class="latest-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>LATEST <b>ARTICLES</b></h2>
                <div class="posts">
                    <div class="item">
                        <div class='row'>
                            <div class='col-md-3'>
                                <div class='post'>
                                    <div class='title'><a href='/article/21/the-role-of-expert-opinions-in-turkish-intellectual-property-law'>The Role of Expert Opinions in Turkish Intell...</a></div>
                                    <div class='text'>
                                        Expert opinions play
                                        an important role in resolving disputes handled by first instance courts in
                                        Turkey.If solving a dispute
                                        requires technical or specialist knowledge and cannot be resolved via the
                                        judge’s legal knowledge and professional experience, the Civil Procedural Law
                                        empowers judges to appoint an expert or panel of experts. However, a
                                    </div>
                                    <div class='author'>
                                        <div class='pull-left'><img src='./img/isik-ozdogan.jpg' alt=''></div>
                                        <div class='pull-left'><b><a href='/contributor/11/isik-ozdogan'>Işık Özdoğan</a></b><span>LL.M.</span></div>
                                        <div class='clearfix'></div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-3'>
                                <div class='post'>
                                    <div class='title'><a href='/article/20/turkey-completes-final-step-in-approving-data-protection-legislation'>Turkey Completes Final Step in Approving Data...</a></div>
                                    <div class='text'>
                                        Turkey has completed
                                        the final step in a long running process to enact the Data Protection Law
                                        number 6698 (“Law“). The Law referred to in our&nbsp;recent article&nbsp;has now received
                                        Presidential approval and its final text was published in Official Gazette
                                        number 29677 on 7 April 2016.From 7 April 2016
                                        onward, a general prohibition now appl
                                    </div>
                                    <div class='author'>
                                        <div class='pull-left'><img src='./img/burcu-tuzcu-ersin.jpg' alt=''></div>
                                        <div class='pull-left'><b><a href='/contributor/10/burcu-tuzcu-ersin'>Burcu Tuzcu Ersin</a></b><span>LL.M.</span></div>
                                        <div class='clearfix'></div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-3'>
                                <div class='post'>
                                    <div class='title'><a href='/article/19/turkey-adopts-data-protection-law-taking-a-big-step-towards-harmonization-with-relevant-elements-of-acquis-communautaire'>Turkey Adopts Data Protection Law, Taking a B...</a></div>
                                    <div class='text'>
                                        After more than a
                                        decade of legislative proposals, the Grand National Assembly of Turkey has
                                        approved the Data Protection Law (“Law“). The next step is for the new
                                        law to receive approval or comments from Turkey’s President, then eventually be
                                        published in the Official Gazette with the official text and an enforcement
                                        date. The Law addresses r
                                    </div>
                                    <div class='author'>
                                        <div class='pull-left'><img src='./img/burcu-tuzcu-ersin.jpg' alt=''></div>
                                        <div class='pull-left'><b><a href='/contributor/10/burcu-tuzcu-ersin'>Burcu Tuzcu Ersin</a></b><span>LL.M.</span></div>
                                        <div class='clearfix'></div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-3'>
                                <div class='post'>
                                    <div class='title'><a href='/article/18/russian-sanctions-against-turkey'>Russian Sanctions Against Turkey</a></div>
                                    <div class='text'>
                                        Following the incident
                                        of a Russian Su-24 jet being downed by Turkish F-16 fighters on 24 November
                                        2015 causing the Russian aircraft crash in the Bayirbucak region of northern
                                        Syria, Russia imposed a series of economic measures and sanctions against
                                        Turkey. The first step in this direction was a decree prohibiting Turkish
                                        products along with o
                                    </div>
                                    <div class='author'>
                                        <div class='pull-left'><img src='./img/orcun-cetinkaya.jpg' alt=''></div>
                                        <div class='pull-left'><b><a href='/contributor/1/orcun-cetinkaya'>Orçun Çetinkaya</a></b><span>LL.M.</span></div>
                                        <div class='clearfix'></div>
                                    </div>
                                </div>
                            </div>
                        </div><br /><div class='row'>
                            <div class='col-md-3'>
                                <div class='post'>
                                    <div class='title'><a href='/article/1/limitations-on-doctors-advertising-in-turkey-an-inconsistent-framework-ripe-for-reform'>Limitations on Doctors’ Advertising in Turk...</a></div>
                                    <div class='text'>
                                        The
                                        Turkish legislative regime for doctors’ advertising involves
                                        contradictions between provisions in primary and secondary
                                        legislation. The uncertainty and legislative gaps mean that in
                                        practice, government enforcement and interpretation of advertising
                                        limitations are inconsistent.
                                        The
                                        legislative regime should be updated, to ensure predi
                                    </div>
                                    <div class='author'>
                                        <div class='pull-left'><img src='./img/orcun-cetinkaya.jpg' alt=''></div>
                                        <div class='pull-left'><b><a href='/contributor/1/orcun-cetinkaya'>Orçun Çetinkaya</a></b><span>LL.M.</span></div>
                                        <div class='clearfix'></div>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-authors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>LATEST <b>CONTRIBUTORS</b></h2>

                <div class="row">
                    <div id="authors" class="owl-carousel">

                        <a href='/contributor/1/orcun-cetinkaya'>
                            <div class='col-md-12 author'>
                                <div class='image' style='background-image: url(./img/orcun-cetinkaya.jpg)'></div>
                                <div class='title'>
                                    <b>Orçun Çetinkaya</b>
                                    <span>LL.M.</span>
                                </div>
                            </div>
                        </a>

                        <a href='/contributor/10/burcu-tuzcu-ersin'>
                            <div class='col-md-12 author'>
                                <div class='image' style='background-image: url(./img/burcu-tuzcu-ersin.jpg)'></div>
                                <div class='title'>
                                    <b>Burcu Tuzcu Ersin</b>
                                    <span>LL.M.</span>
                                </div>
                            </div>
                        </a>

                        <a href='/contributor/11/isik-ozdogan'>
                            <div class='col-md-12 author'>
                                <div class='image' style='background-image: url(./img/isik-ozdogan.jpg)'></div>
                                <div class='title'>
                                    <b>Işık Özdoğan</b>
                                    <span>LL.M.</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>