@using Law.Models
@using Law.Web.Models
@{
    ViewData["Title"] = "Turkish Law Blog - Affiliates";
}

@model AffiliatesViewModel

<div class="Page PracticePage">
    <div class="PageView posts contributors">
        <div class="posts-header">
            <h2>Affiliates</h2>
        </div>
        <div>
            @foreach (Affiliate affiliate in Model.Affiliates)
            {
                <div class="contributor container">
                    <a href="@Url.Action("Affiliate", "Affiliates", new { id = affiliate.ID })">
                        <img src="@affiliate.ImageURL.GetImageUrl()" alt="Avatar" class="image">
                        <div class="overlay">
                            <div class="text">@affiliate.Name</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

