@{
    ViewData["Title"] = "About Us";
}
<section class="about-us">
    <div>

        <div class="text-center">
            <h2>ABOUT US</h2>
        </div>
        <h2>Who are We?</h2>
        <p>Turkish Law Blog (TLB) is a publication of LEXAWORD providing information and news on Turkish Law. We have gathered together leading experts from law firms, arbitration institutions, and academia to report on the latest developments. They in turn have enlisted professional colleagues of diverse backgrounds to offer both established and new voices into the mix. The result is a fresh, high-quality, and timely examination of the world of international arbitration.</p>
        <h2>What Is Our Focus?</h2>
        <p>We are a new kind of media. Our focus is to become a go to English language platform for Turkish legal society with contributions from recognized experts. Our format is new to the Turkish legal sector. The result is a serious, high-quality, professional blog about Turkish law presented in a timely, fresh way.</p>
        <h2>What is Your Role?</h2>
        <p>Of course we welcome you as a faithful reader, The blog format provides an opportunity for everyone to participate, but we welcome comments must respect our <a href="@Url.Action("EditorialPolicy","Information")">Editorial Policy</a>. We also will be inviting guest bloggers to contribute from time to time.</p>

        <h2>How Do You Contact Us?</h2>
        <p>
            Our goal is to be as responsive as possible to our readers.<br />
            If you have a substantive question, please contact our <a href="@Url.Action("Contact","Information")">here</a>.<br />
            For general questions, contact us <a href="@Url.Action("Contact","Information")">here</a>.<br />
            If you have a technical question please contact us  <a href="@Url.Action("Contact","Information")">here</a>.
        </p>
        <div>
            <div style="margin-bottom:20px;">
                <h2>Contact</h2>
                <p>

                    101 Blackstock Road <br />
                    Finsbury Park, London N4 2JW <br />
                    T: <a href="callto:+00447957068924">00 44 7957 068924</a> <br />
                    E: <a href="mailto:info@turkishlawblog.com">info@turkishlawblog.com</a> <br />
                </p>
                <div class=" map">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2480.31601733788!2d-0.102695!3d51.56244!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b840872fef7%3A0x378a1645a7b59016!2s101+Blackstock+Rd%2C+London+N4+2JW%2C+UK!5e0!3m2!1sen!2str!4v1517516155710" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
</section>
