@{
    ViewData["Title"] = "Editorial Guidelines";
}

              <section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                   <h2>Editorial Guidelines</h2>
                   </div>
                        <p>We welcome blog posts which address current issues in Turkish Law. We particularly welcome editorial commentary and candid views. We discourage posts that merely summarise cases; while many of our entries focus on specific cases, we prefer that these posts include critical analysis or explore particular themes of wider resonance. We are particularly keen to create a “dialogue” between posts so please do cross-refer to and comment on other posts.</p>
                        <p>Please include a short title (Please Capitalize Posts As You See Here). A title which asks a question can generate more interest.</p>
                        <p>Blog posts must be between 500 to 1,500 words.</p>
                        <p>Please insert spaces between paragraphs.</p>
                        <p>Please include, where appropriate, hyperlinks to outside references or to primary sources in the body of your text.</p>
                        <p>Avoid using ALL CAPS in the title or in the text.</p>
                        <p>Your content must be original. If, in your post, you refer to the work of another author, you must acknowledge that author as the source of such work.</p>
                        <p>In keeping with the informal style of the blog, we ask that you do not use footnotes or endnotes. However, if you determine that footnotes would be appropriate, please follow the instructions below. (The numbering of footnotes is automatic, so no need to do so in the text of the footnote.)</p>
                   </div>
            </div>
        </div>
    </section>
