@{
    ViewData["Title"] = "Editorial Guidelines";
}

<section class="about-us" style="margin-bottom:20px">
                <div class="text-center">
                    <h2>Editorial Policy</h2>
                </div>

                <p>It is a violation of our editorial policy to (1) publish any material that is copyrighted, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from the rightful owner; (2) publish falsehoods or misrepresentations that could damage the publisher or any third party; or (3) submit material that is unlawful, obscene, defamatory, libellous, threatening, pornographic, harassing, hateful, racially or ethically offensive, otherwise disruptive to civil debate on the blog, or encourages conduct that would be considered as a criminal offence, give rise to civil liability, or violate any law.</p>
                <p>Furthermore, the Publisher and Editor(s) of the blog may at their discretion remove submitted comments and/or other material from the blog if they have a reason to believe that the materials are in violation of the Editorial Policy.</p>
                <p>Please note that the Turkish Law Blog does not republish materials previously published on other websites or journals / books.</p>
                <p>Turkish Law Blog posts can be included by contributors on their (employer’s) own websites, provided they give credit to and link back to the original post on the Turkish Law Blog. Third parties are not allowed to include Turkish law Blog posts without prior approval.</p>

</section>