@using Law.Models
@using Law.Web.Models

@model ContributorsViewModel
@{
    ViewData["Title"] = "Turkish Law Blog - Contributors";
}

<div class="Page PracticePage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="PageView posts contributors">

                    <h1>Contributors</h1>
                   

                    <div class='row'>
                        @foreach (Contributor contributor in Model.Contributors)
                        {
                            Affiliate affiliate = Model.RelatedAffiliates.FirstOrDefault(x => x.ID == contributor.AffiliateID);
                            string AffiliateText = "";
                            if (affiliate!=null)
                            {
                                AffiliateText = affiliate.Name;
                            }
                            <div class="contributor container">
                                <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">
                                    <img src="@contributor.ImageURL.GetImageUrl()" alt="Avatar" class="image">
                                    <div class="overlay">
                                        <div class="text">@contributor.Name<br /><span class="smaller">@AffiliateText</span></div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
