@using Law.Models
@using Law.Web.Models

@model List<Contributor>
@{
    ViewData["Title"] = "Turkish Law Blog - Contributors";
}

<div class="Page PracticePage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="PageView posts contributors">

                    <h1>Contributors</h1>
                    <div class='row'>
                        @foreach (Contributor contributor in Model)
                        {
                            <div class="col-md-12 author contributors">
                                <div class="owl-item active">
                                    <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">
                                        <div class="col-md-12 author">
                                            <div class="image" style="background-image: url(@contributor.ImageURL.GetImageUrl())"></div>
                                            <div class="title">
                                                <b>@contributor.Name</b>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
