
@{
    ViewData["Title"] = "Login";
}

<div class="wrapper">
    <form class="login login-form">
        <p class="title">Log in</p>
        <input id="txtUsername" type="text" placeholder="Email" autofocus />
        <i class="fa fa-user"></i>
        <input id="txtPassword" type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="#">Forgot your password?</a><br />
        <a href="#" class="btnRegister">You don't have an account? Register here.</a>
        <button>
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>

    <form class="login register">
        <p class="title">Register</p>
        <input id="txtUsername" type="text" placeholder="Email" autofocus />
        <i class="fa fa-user"></i>
        <input id="txtPassword" type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <input id="realName" type="text" placeholder="Full Name" autofocus />
        <i class="fa fa-user"></i>
        <button>
            <i class="spinner"></i>
            <span class="state">Register</span>
        </button>
    </form>
</div>


@section Scripts{
<script>
        function showRegister() {
            $(".login").hide();
            $(".login.register").show();
        }

        $(".btnRegister").on("click", showRegister);


        var working = false;
        $('.login-form').on('submit', function(e) {
          e.preventDefault();
          if (working) return;
          working = true;

          var $this = $(this), $state = $this.find('button > .state');

          $this.addClass('loading');

          $state.html('Authenticating');

           $.ajax({
                    type: "POST",
                    url: "@Url.Action("CheckLogin")",
                    data: {
                        username: $("#txtUsername").val(),
                        password: $("txtPassword").val()
                    },
                    success: function (result) {
                        if (result.success) {
                            $this.addClass('ok');
                            $state.html('Welcome back!');
                            setTimeout(function () {
                                $state.html('Log in');
                                $this.removeClass('ok loading');
                                working = false;
                                window.location = "@Url.Action("Index")";
                            }, 2000);
                        }
                        else {

                        }

                    },
                    dataType: "json"
                });
        });
</script>
}

<style>

    body {
        height: 100vh;
        background-size: cover;
    }

    * {
        box-sizing: border-box;
        outline: none;
    }

    .login.register {
        display: none;
    }
</style>
