
@{
    ViewData["Title"] = "Turkish Law Blog - Articles";
}

<div class="Page ProfilePage">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="PageView" style="padding:0">

                    <div class="row">
                        <div class="col-md-4" style="padding-right:0;">
                            <div class='contributor-profile' style="background-color:#efe3e1">
                                <div class="contributor-photo">
                                    <img src="./img/orcun-cetinkaya.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="contributor-data">
                                    <h1 style="padding:0; margin:0">Orçun Çetinkaya</h1>
                                    <div class="contributor-title">LL.M.</div>

                                    <h4>Education</h4>

                                    <h4>Languages</h4>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="padding-left:0">
                            <dv class="tabs">
                                <a href="javascript:;" data-rel="biography" class="active">Contributor Biography</a>
                                <a href="javascript:;" data-rel="articles">Contributor Articles</a>
                                <div class="clearfix"></div>
                            </dv>
                            <div class="tabs-contents">
                                <div id="biography" class="tab-content active">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis at turpis sit amet tristique. Sed blandit arcu id est semper malesuada. Cras ornare lacus mi, ut sodales leo consequat ut. In hac habitasse platea dictumst. Sed nec consectetur odio. Mauris eget sapien iaculis sem scelerisque porttitor ac id mi. In tincidunt dignissim lorem. Maecenas eros massa, cursus elementum diam id, sodales pellentesque arcu. Morbi bibendum erat eget placerat elementum. Vestibulum ut condimentum nisl, mattis viverra justo. Sed sed magna felis.
                                    <br /><br />

                                    Praesent odio nisi, pellentesque porttitor dui nec, faucibus sollicitudin elit. Proin sollicitudin vitae nisl at molestie. Donec nec elit in mauris laoreet aliquam ut convallis odio. Nam varius nulla augue. Nulla magna dui, lobortis ac rhoncus non, suscipit et mi. Nullam scelerisque nisl sed dapibus facilisis. Duis sem lorem, auctor sit amet venenatis eu, aliquet id ligula. Curabitur rhoncus feugiat dictum. Sed eget blandit mauris. Vestibulum blandit feugiat nisl, ut malesuada ipsum viverra at. Sed quis urna at sem ornare semper. Pellentesque hendrerit nisl eget urna semper, eu imperdiet ante interdum. Curabitur a justo velit. Cras malesuada condimentum odio, lobortis maximus nulla vestibulum a. Aenean faucibus sit amet odio in viverra. Fusce tincidunt est quis est lobortis, vel euismod metus convallis.
                                    <br /><br />

                                    Quisque luctus tincidunt risus maximus blandit. Etiam varius quam vel faucibus tempor. Cras accumsan metus sed lectus varius elementum. Nulla pulvinar sit amet sapien ut tristique. Curabitur tellus nisi, porttitor non sem non, vestibulum consequat metus. Nulla imperdiet hendrerit auctor. Vivamus semper faucibus ligula porta consequat. Vivamus efficitur felis ex, a volutpat lorem sagittis vel. In dictum sem condimentum ligula rutrum, non tempor sem dignissim. Nulla facilisis, erat quis fringilla finibus, quam enim cursus eros, vitae pharetra arcu ante quis dui. Nulla facilisi. Praesent elementum sit amet magna in dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer porttitor odio tellus, quis viverra ex commodo quis. Quisque sit amet lorem sit amet turpis interdum venenatis. Nullam ut elit tristique, vulputate velit ac, consequat nibh.
                                    <br /><br />

                                    Duis vel diam sit amet diam convallis viverra sed at lacus. Pellentesque egestas, purus et porta tincidunt, nibh felis consequat magna, lobortis venenatis metus ligula non diam. Aenean condimentum eget enim eu commodo. Nulla facilisi. Praesent et felis a velit tincidunt venenatis. Duis feugiat euismod eleifend. Donec id venenatis ipsum. Cras eget interdum erat. Nunc ac odio et odio dignissim congue ut eu urna. Quisque bibendum cursus magna id cursus. Duis porta varius lobortis. Praesent augue nisi, vehicula sit amet convallis sit amet, dictum vel neque. Suspendisse finibus at ex dapibus tempus. Curabitur non purus at quam venenatis tincidunt. Mauris non ex varius, sagittis turpis at, ultrices purus.
                                    <br /><br />

                                    Integer a dignissim neque. Integer commodo placerat ex in egestas. Ut gravida risus fermentum ex hendrerit, id luctus velit dictum. Mauris bibendum commodo aliquam. Vivamus pretium magna sed convallis ultricies. Aliquam ut ligula id metus sollicitudin eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In id nisi ut massa dignissim mattis. Praesent eros ante, facilisis a velit at, molestie tempor quam. Sed dignissim turpis volutpat sodales sodales. Nulla egestas volutpat massa, vel egestas odio. Duis sollicitudin consectetur velit eu viverra.
                                </div>
                                <div id="articles" class="articles tab-content">

                                    <div class='article'>
                                        <h3><a href='/article/1/limitations-on-doctors-advertising-in-turkey-an-inconsistent-framework-ripe-for-reform'>Limitations on Doctors’ Advertising in Turkey: An Inconsistent Framework, Ripe for Reform</a></h3>
                                        <div class='short-content'>
                                            The
                                            Turkish legislative regime for doctors’ advertising involves
                                            contradictions between provisions in primary and secondary
                                            legislation. The uncertainty and legislative gaps mean that in
                                            practic
                                        </div>
                                        <div class='tools'>
                                            <div class='pull-left'><i class='fa fa-calendar'></i> 31 August, 2017</div>
                                            <div class='pull-left'><i class='fa fa-eye'></i>  301</div>
                                            <div class='clearfix'></div>
                                        </div>
                                    </div>

                                    <div class='article'>
                                        <h3><a href='/article/18/russian-sanctions-against-turkey'>Russian Sanctions Against Turkey</a></h3>
                                        <div class='short-content'>
                                            Following the incident
                                            of a Russian Su-24 jet being downed by Turkish F-16 fighters on 24 November
                                            2015 causing the Russian aircraft crash in the Bayirbucak region of northern
                                            Syria, Russia imposed
                                        </div>
                                        <div class='tools'>
                                            <div class='pull-left'><i class='fa fa-calendar'></i> 05 January, 2018</div>
                                            <div class='pull-left'><i class='fa fa-eye'></i>  20</div>
                                            <div class='clearfix'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var PH = $(".PageView").height();
    var CH = $(".contributor-profile").height();
    if (CH < PH) {
        $(".contributor-profile").height(PH);
    }
</script>

