@using Law.Models
@using Law.Web.Models

@model ArticleSearchViewModel
@{
    ViewData["Title"] = "Turkish Law Blog - Articles";
}

<div class="Page PracticePage">
    @Html.Partial("~/Views/Shared/_SearchComponent.cshtml", Model.FilterModel)
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="PageView posts">

                    <h1>Civil Law Articles</h1>
                    <div class='row'>
                        <div class='col-md-4 col-sm-6'>
                            <div class='post'>
                                <div class='title'>The Role of Expert Opinions in Turkish Intellectual Property Law</div>
                                <div class='text'>
                                    Expert opinions play
                                    an important role in resolving disputes handled by first instance courts in
                                    Turkey.If solving a dispute
                                    requires technical or specialist knowledge and cannot be resolved via the
                                    judge’s legal knowledge and professional experience, the Civil Procedural Law
                                    empowers judges to appoint an expert or panel of experts. However, a recent
                                    court decision has raised questions about
                                </div>
                                <div class='author'>
                                    <div class='pull-left'><img src='./img/isik-ozdogan.jpg' alt=''></div>
                                    <div class='pull-left'><b>Işık Özdoğan</b><span>LL.M.</span></div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>